# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "7e14cea35d331d8a859a3d97b6b76175"
name = "LayerUp"
handle = "ds-app-6"
application_url = "https://layerup.onrender.com/"
embedded = true

[build]
automatically_update_urls_on_dev = true 

[webhooks]
api_version = "2024-07"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  # Mandatory GDPR webhooks (required for App Store)
  [[webhooks.subscriptions]]
  compliance_topics = [ "customers/data_request" ]
  uri = "/webhooks/customers/data_request"

  [[webhooks.subscriptions]]
  compliance_topics = [ "customers/redact" ]
  uri = "/webhooks/customers/redact"

  [[webhooks.subscriptions]]
  compliance_topics = [ "shop/redact" ]
  uri = "/webhooks/shop/redact"


[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "read_themes,write_themes,read_products"

[auth]
redirect_urls = [
  "https://layerup.onrender.com/auth/callback",
  "https://layerup.onrender.com/auth/shopify/callback",
  "https://layerup.onrender.com/api/auth/callback"
]

[pos]
embedded = false
