
<style>
.marquee { width: 100%; overflow: hidden; background: {{block.settings.body_text}}; white-space: nowrap; padding: 0.6rem 0.8rem; }
.marquee-content {color:{{block.settings.text_color}}; display: inline-block; padding-left: 100%; animation: marquee-scroll 50s linear infinite; font-size: 1.5rem; font-family: Verdana, sans-serif; text-transform: uppercase; }
.marquee-content span {display: inline-block; margin-right: 2rem;  font-size: {{block.settings.font_size}}px;  font-family: inherit;} 
@keyframes marquee-scroll { 0% { transform: translateX(0%); } 100% { transform: translateX(-100%); } }
</style>  
 

<div class="marquee-page-width">
     <div class="marquee">
            <div class="marquee-content"> {{block.settings.marquee-text}}</div>
        </div>
</div>

{% schema %}
{
    "name":"DS-Scrollingtext",
    "target":"section",
    "settings":[
        {
            "type":"liquid", 
            "id":"marquee-text",
            "label":"Marquee Text",
            "info":"e.g: <span>Offer Text</span> & similar so on..:",
            "default":"<span>Enjoy $10 off any order over $50! Use code DISCOUNT10 at checkout</span> <span> | Today only! Enjoy free shipping on all orders. No minimum purchase required. Use code FREESHIP</span> <span> | Buy one pair of shoes, purchase the second pair 50% off! Limited stock is available. Hurry, visit our store, or use code BOGOSHOES online!</span>"
        },
        {
            "type": "color",
            "id": "body_text",
            "label": "Marquee Background Color",
            "default": "#cde02d"
        },
          {
            "type": "color",
            "id": "text_color",
            "label": "Marquee Text Color",
            "default": "#ffffff"
        },
        {
            "type": "range",
            "id": "font_size",
            "min": 12,
            "max": 40,
            "step": 1,
            "unit": "px",
            "label": "Font size",
            "default": 16
        } 
    ]
}
{% endschema %}