:root {
  --text-color: #fff;
}

.explore-card-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  grid-template-rows: auto;
}

.explore-card .img {

  position: relative;


}



.explore-card a {
  color: #fff;
}


.imgt-l {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.imgb-l span {
  font-size: 15px;
  text-transform: capitalize;
  line-height: normal;
}

.svg-wrapper span {
  background: #fff;
  margin: 0 5px;
  width: 40px;
  height: 40px;
  display: inline-flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.svg-wrapper span svg {
  fill: #ffffff;
  width: 20px;
  height: 20px;
  display: block;
}

.img-title {
  display: flex;
  justify-content: space-between;
  padding: 0rem;
  align-items: center;
  position: absolute;
  bottom: 19%;
  transition: all .4s ease;
  opacity: 0;
  right: 0 !important;
}

.explore-card:hover .img-title {
  transition: all .4s ease;
  opacity: 1;
}

.explore-card .img img {
  object-fit: cover;
  display: block;
  width: 100%;
  height: 100%;
  max-height: 200px;
  object-position: top;
}

.explore-card .img-bottom img {
  width: 100% !important;
  max-width: 20px;
  border-radius: 100% !important;
}

.img-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0 0;
}

.imgb-l {
  display: flex;
  align-items: center;
  gap: .5rem;
  justify-content: space-between;
  width: 100%;
  padding: 0 8px;
}



span.views {
  font-size: .7rem;
  vertical-align: middle;
}

.svg-wrapper-imgb-r {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .1rem;
}