.popip-container {
     position: fixed;
    padding: 20px;
    transition: padding 0.25s linear;
    transition-delay: 0.15s;
    background: #fff;
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 8px;
    left: 50px;
    top: 50%;
    right: 50px;
    max-width: 96%;
    margin: auto;
    transform: translateY(-50%);
    height: 450px;
}
.popupbody .Polaris-Page--fullWidth{padding: 0 !important;}
.explore-card { 
    cursor: pointer;
    padding: 0;
    background: #fff;
    border-radius: 8px;
    border: none;
}

.pop-header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #000;
}

.pop-title {
    font-size: 1.2rem;
    letter-spacing: 0.5px;
}

/* .popup-close {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
} */
button{cursor: pointer; border: none; background: transparent;}
.popup-header {
    
    border-bottom: 1px solid #eee;
}

.youtube-video {
    padding-top: 2rem;
}

.pop-content {
    color: #000;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.pop-content {
    color: #000;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.pop-content p {
    font-size: 1.1rem;
    line-height: 1.7;
}

.youtube-video iframe {
    border-radius: 6px;
}

.pop-content ul {
    padding-top: 1rem;
}

.pop-content ul li {
    list-style: disc;
    line-height: 1.8;
    font-size: 1rem;
}

.pop-btn {
    display: flex;
    align-items: baseline;
    justify-content: center;
}
button.popup-close {
    padding: 0;
}
.overlay {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    content: "";
    width: 100%;
    height: 100%;
    background: #00000085;
}
.Polaris-Layout__Section:has(.sticky-wrapper) {
    position: sticky;
    top: 20px;
    z-index: 1;
}