<div class="product-block">
  <style>
    .plp-offer-wrap {
      border: 2px dashed;
      color: #64112f;
      padding: 10px;
      background: #fff3e6;
      text-align: center;
    }
    .plp-offer-wrap p {
      font-size: 14px;
      letter-spacing: 0;
    }
    .plp-offer-wrap p:last-child {
      margin-bottom: 0;
    }
    .copy-code {
      cursor: pointer;
      color: #fff;
      font-weight: bold;
      background: #64112f;
      display: inline-block;
      padding: 6px 17px;
      border-radius: 30px;
      font-size: 14px;
      letter-spacing: 3px;
    }
    .copy-code.add {
      background: #000;
    }
    @media(min-width: 768px) {
      .plp-offer-wrap p {
        font-size: 18px;
        letter-spacing: 0;
      }
      .plp-offer-wrap p:first-child br {
        display: none;
      }
    }
  </style>

  <div class="plp-offer-wrap">
    <p>{{ block.settings.text1 }} <br> – Use code: 
      <span class="copy-code" data-code="{{ block.settings.code }}">{{ block.settings.code }}</span>
    </p>
    <p>{{ block.settings.text2 }}</p>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const copyButton = document.querySelector('.copy-code');
      if (copyButton) {
        copyButton.addEventListener('click', function() {
          const code = this.getAttribute('data-code');
          navigator.clipboard.writeText(code).then(function() {
            copyButton.classList.add('add');
            console.log(`Code "${code}" copied`);
          }, function(err) {
            console.error('Failed to copy text: ', err);
          });
        });
      }
    });
  </script>
</div>

{% schema %}
{
  "name": "Custom Text Widget",
  "target": "section",
  "settings": [
    {
      "type": "text",
      "id": "text1",
      "label": "Main Offer Text",
      "default": "Get EXTRA 5% OFF on your first purchase"
    },
    {
      "type": "text",
      "id": "code",
      "label": "Discount Code",
      "default": "FIRST"
    },
    {
      "type": "text",
      "id": "text2",
      "label": "Secondary Offer Text",
      "default": "Get an additional 5% OFF on prepaid orders"
    }
  ],
  "templates": ["product", "index"]
}
{% endschema %}
